@model EventListingViewModel

@{
    ViewData["Title"] = "MyEvents";
}

<h2>My Events</h2>

<table class="table table-bordered table-hover">

    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Start date</th>
            <th>End date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ev in Model.Events)
        {
            <tr>
                <td>
                    @ev.Name
                </td>
                <td>
                    @ev.Location
                </td>
                <td>
                    @ev.StartDate.ToFriendlyDateTime()
                </td>
                <td>
                    @ev.EndDate.ToFriendlyDateTime()
                </td>
                <td>
                    <div class="col-md-6">
                        <a href="/events/edit/@ev.Id" class=" btn btn-warning btn-sm form-control">Edit</a>
                    </div>
                    <div class="col-md-6">
                        <form method="post" action="/events/delete/@ev.Id">
                            @Html.AntiForgeryToken()
                            <button class="btn btn-danger btn-sm form-control">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

